<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Demo 3</title>
</head>
<body>
    <h3>Demo 3 View</h3>
    Id1:@ViewBag.id1
    <br />
    Id2:@ViewBag.id2
</body>
</html>
